 <nav class="navbar navbar-expand navbar-light transparant-bg  first-nav">
    <a class="navbar-brand" href="#">
      <img src="https://files.slack.com/files-pri/T02NE0241-FMAUJ3TU5/logo_ibayb.png" width="45" height="45" alt="">
    </a>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto ">

      </ul>
      <span class="navbar-text color-white">
        <%= link_to "Inscription", new_user_registration_path %>
      </span>

      <span class="navbar-text ml-3 color-white">
        <%= link_to "Connexion", new_user_session_path %>
      </span>

    </div>
  </nav>
