<nav class="navbar navbar-expand navbar-light bg-light nav-h">
    <a class="navbar-brand" href="#">
      <img src="https://files.slack.com/files-pri/T02NE0241-FMAUJ3TU5/logo_ibayb.png" width="45" height="45" alt="">
    </a>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">

      </ul>
      <span class="navbar-text">
        <%= "Hote" %>
      </span>

      <span class="navbar-text ml-3">
        <%= "Voyages" %>
      </span>
      <span class="navbar-text mt-3">
        <ul class="no-style-list">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#"> <%= link_to "Log out", destroy_user_session_path  %> </a>
            </div>
          </li>
        </ul>
      </span>
    </div>
  </nav>
