<nav class="navbar navbar-expand navbar-light transparant-bg first-nav nav-h">
    <a class="navbar-brand" href="#">
      <img src="https://files.slack.com/files-pri/T02NE0241-FMD4YGWAJ/finallogotheisland.png" width="45" height="45" alt="">
    </a>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">

      </ul>
            <span class="navbar-text">
        <%= link_to "Mes îles", user_properties_path %>
      </span>
            <span class="navbar-text ml-3">
        <%= link_to "Mes voyages", user_voyages_bookings_path %>
      </span>
      <span class="navbar-text ml-3">
        <%= "Mes clients" %>
      </span>
      <span class=" mt-3">
        <ul class="no-style-list">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu color-white" aria-labelledby="navbarDropdown">
               <%= link_to "Log out", destroy_user_session_path  %>
            </div>
          </li>
        </ul>
      </span>
    </div>
  </nav>
