 <nav class="navbar navbar-expand navbar-light transparant-bg">
    <a class="navbar-brand" href="#">
     <%= link_to root_path do %>
      <img src="https://files.slack.com/files-pri/T02NE0241-FMD4YGWAJ/finallogotheisland.png" width="45" height="45" alt="">
      <% end %>
    </a>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto ">

      </ul>
      <span class="navbar-text">
        <%= link_to "Inscription", new_user_registration_path %>
      </span>

      <span class="navbar-text ml-3">
        <%= link_to "Connexion", new_user_session_path %>
      </span>

    </div>
  </nav>
