 <nav class="navbar navbar-expand navbar-light transparant-bg">
    <a class="navbar-brand" href="#">
     <%= link_to root_path do %>
       <%= image_tag "beach.png", width: 30 %>
      <% end %>
    </a>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto ">

      </ul>
      <span class="navbar-text">
        <%= link_to "Inscription", new_user_registration_path %>
      </span>

      <span class="navbar-text ml-3">
        <%= link_to "Connexion", new_user_session_path %>
      </span>

    </div>
  </nav>
