.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.no-style-list{
list-style-type: none;
}
// Transparence pour la navbar de connexion
.transparant-bg {
  background-opacity: 0 !important;
}
.color-white a{
    color: white !important;
}

.color-white{
  color:white;
}

.first-nav {
position: absolute;
width:100%
}

.nav-h {
  height: 50px;
}

.bg-invisible{
  background-color: rgba(255,255,255,0);
}
.dropdown-menu {
  background-color: rgba(255,255,255,0) !important;

}
